* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f0f0f;
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}